/**
 * 首页样式
 */
.slider-trigger a,
.product-series .info a {
    background: url(../images/sprites.png);
    background-repeat: no-repeat;
}

/*图片轮播*/
.slider {
    overflow: hidden;
    height: 482px;
    width: 100%;
    position: relative;
}

.slider-content {
    width: 300%;

}

.slider-content a {
    width: 1099px;
    float: left;
}

.slider-trigger {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 11px;
    left: 0;
}

.slider-trigger a {
    display: inline-block;
    background-position: -149px -1px;
    margin: 0 8px;
    width: 15px;
    height: 15px;
}

.slider-trigger a:hover, .slider-trigger a.active {
    background-position: -166px -1px;
}

/*slogan*/
.slogan {
    padding: 53px 0 20px;
    text-align: center;
}

/*产品系列*/
.product-series {
    overflow: hidden;
}

.product-series ul {
    margin-left: -2px;
}

.product-series li {
    padding: 15px 0;
    float: left;
    width: 275px;
    height: 100px;
    background: url(../images/product-series-line.png) no-repeat;
}

.product-series .picture {
    float: left;
    margin-left: 30px;
}

.product-series .info {
    margin-left: 140px;
    text-align: center;
}

.product-series .info h4 {
    font-size: 14px;
    color: #010101;
    padding: 30px 0 5px;
}

.product-series .info a {
    display: inline-block;
    color: #fff;
    width: 80px;
    height: 19px;
    line-height: 19px;
    background-position: -1px -52px;
    text-align: center;
}

