.process-mylist-item-close,
.process-confirm-button,
.big-grey-btn,
.big-yellow-btn,
.process-purchase,
.process-rec-button,
.process-phoneicon,
.process-unionpay,
.process-alipay,
.process-caricon,
.process-dayicon,
.process-form2-button,
.process2-line1-icon,
.process-bank,
.process2-more-icon,
.process2-back-button,
.process2-go-button,
.process-feed-button,
.process-3 h2 {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
}

.big-grey-btn,
.big-yellow-btn{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 120px;
    text-align: center;
    background-position: -99px -116px;
    font-size: 19px;
    font-family: '黑体';
    color: #808080;
}

.big-yellow-btn{
    width: 136px;
    background-position: -99px -157px;
    text-align: left;
    text-indent: 24px;
    color: #fff;
}

.process {
    margin: 10px 63px;
    margin-bottom: 46px;
}

.process-head {
    width: 976px;
    height: 38px;
    background: url(../images/process.png);
}

.process-title {
    margin-top: 22px;
    font-family: "Microsoft YaHei";
    font-size: 25px;
    border-bottom: solid 1px #b6b6b6;
}

.process-con {
    margin-top: 41px;
}

.process-left {
    float: left;
    width: 654px;
}

.process-right {
    float: right;
    width: 271px;
}

/*process1*/
.process-mylist-item {
    height: 60px;
    padding-left: 112px;
    position: relative;
    margin-bottom: 50px;
}

.process-mylist-item img {
    position: absolute;
    left: 23px;
    top: 0;
    border: 0;
    width: 60px;
    height: 60px;
}

.process-mylist-item-info {
    width: 200px;
    margin-top: 8px;
    font-family: "Microsoft YaHei";
    display: inline-block;
}

.process-mylist-item-name {
    font-size: 17px;
}

.process-mylist-item-size {
    color: #5a5a5a;
}

.process-mylist-item label {
    margin-left: 18px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 13px;
}

.process-mylist-item select {
    border-radius: 3px;
    border: solid 1px #d4d4d4;
    color: #939393;
    width: 52px;
    height: 21px;
}

.process-mylist-item-price {
    display: inline-block;
    margin-left: 107px;
    vertical-align: top;
    position: relative;
    top: 13px;
    font-family: "Microsoft YaHei";
    font-size: 17px;
}

.process-mylist-item-close {
    position: absolute;
    right: 22px;
    top: 17px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background-position: -161px -202px;
}

.process-pay {
    width: 654px;
    height: 141px;
    background: url(../images/process_bg.png);
    margin-top: 35px;
    position: relative;
}

.process-pay-title {
    height: 50px;
    line-height: 50px;
    font-family: "Microsoft YaHei";
    font-size: 21px;
    padding-left: 23px;
    margin-bottom: 13px;
}

.process-pay-title span {
    float: right;
    margin-right: 122px;
}

.process-line {
    padding-left: 23px;
    font-size: 18px;
    font-family: '黑体';
}

.process-line span {
    float: right;
    margin-right: 127px;
}

.process-line input {
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
    margin-right: 20px;
}

.process-confirm {
    border-top: solid 3px #000;
    margin-top: 9px;
    padding-top: 28px;
}

.process-confirm-left {
    float: left;
    width: 314px;
}

.process-confirm-right {
    float: right;
}

.process-confirm-code {
    width: 314px;
    height: 101px;
    border-radius: 5px;
    background: #d4eed8;
    position: relative;
}

.process-confirm-code1 {
    position: absolute;
    top: 20px;
    left: 24px;
    font-size: 18px;
    font-family: '黑体';
}

.process-confirm-code input {
    border: 0;
    width: 195px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 47px;
    left: 23px;
}

.process-confirm-button {
    height: 26px;
    width: 62px;
    line-height: 26px;
    text-align: center;
    font-size: 17px;
    font-family: '黑体';
    background-position: -111px -258px;
    bottom: 25px;
    right: 24px;
    position: absolute;
    cursor: pointer;
}

.process-confirm-qrcode {
    height: 68px;
    padding-top: 31px;
    padding-left: 145px;
    padding-right: 38px;
    width: 131px;
    margin-top: 9px;
    border-radius: 5px;
    background: #d4eed8;
    font-family: tahoma;
    font-size: 14px;
    position: relative;
}

.process-qrcode {
    width: 78px;
    height: 78px;
    top: 11px;
    left: 42px;
    position: absolute;
}

.process-confirm-right {
    width: 314px;
    height: 206px;
    position: relative;
}

.process-confirm-total {
    border-top: solid 1px #a4a4a4;
    border-bottom: solid 1px #a4a4a4;
    height: 65px;
    padding-top: 19px;
}

.process-confirm-line {
    font-family: "Microsoft YaHei";
    font-size: 17px;
    padding-left: 19px;
}

.process-confirm-line span {
    float: right;
    margin-right: 39px;
}

.process-confirm-prize {
    font-size: 25px;
    font-family: "Microsoft YaHei";
    margin-top: 18px;
}

.process-confirm-prize span {
    float: right;
    margin-right: 16px;
    padding-left: 19px;
}

.process-gopurchase {
    position: absolute;
    bottom: 0;
    left: 0;
}

.process-purchase {
    position: absolute;
    bottom: 0;
    right: 0;
}

.process-rec {
    width: 271px;
    height: 445px;
    background: #d4eed8;
    border-radius: 3px;
    overflow: hidden;
}

.process-rec-con {
    width: 246px;
    height: 394px;
    border-radius: 3px;
    background: #fff;
    margin-left: 12px;
    padding-top: 3px;
}

.process-rec-title {
    margin-left: 12px;
    height: 37px;
    line-height: 42px;
    font-family: "Microsoft YaHei";
    font-size: 15px;
}

.process-rec-item {
    height: 131px;
    width: 220px;
    padding-left: 111px;
    border-bottom: solid 1px #ece9e2;
    margin-left: 6px;
    position: relative;
    overflow: hidden;
    font-family: "Microsoft YaHei";
}

.process-rec-item img {
    position: absolute;
    left: 23px;
    top: 20px;
    width: 60px;
    height: 60px;
}

.process-rec-name {
    width: 99px;
    margin-top: 16px;
}

.process-rec-size {
    color: #989797;
}

.process-rec-prize {
    margin-top: 2px;
}

.process-rec-button {
    cursor: pointer;
    width: 84px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-family: '黑体';
    background-position: -126px -293px;
    margin-top: 6px;
}

.process-help {
    width: 231px;
    padding-left: 18px;
    padding-right: 22px;
    height: 383px;
    background: #d4eed8;
    border-radius: 3px;
    margin-top: 18px;
    font-family: "Microsoft YaHei";
}

.process-help-title {
    height: 51px;
    line-height: 58px;
    font-size: 25px;
}

.process-help-phone {
    height: 75px;
    line-height: 75px;
    padding-left: 69px;
    font-size: 21px;
    border-top: solid 1px #afafaf;
    border-bottom: solid 1px #afafaf;
    position: relative;
}

.process-phoneicon {
    position: absolute;
    width: 36px;
    height: 32px;
    background-position: -194px -202px;
    top: 17px;
    left: 8px;
}

.process-help-safe {
    height: 113px;
    border-bottom: solid 1px #afafaf;
    overflow: hidden;
}

.process-help-safe-title {
    margin-top: 14px;
    padding-left: 5px;
    font-size: 19px;
}

.process-help-safe-info {
    color: #7a817b;
    padding-left: 8px;
    font-family: tahoma;
    margin-bottom: 12px;
}

.process-unionpay {
    display: inline-block;
    width: 55px;
    height: 33px;
    background-position: -67px -292px;
    margin-left: 5px;
}

.process-alipay {
    display: inline-block;
    width: 55px;
    height: 33px;
    background-position: -7px -291px;
    margin-left: 9px;
}

.process-flow-title {
    margin-top: 15px;
    font-size: 19px;
    padding-left: 6px;
}

.process-flow-line1 {
    width: 174px;
    padding-left: 55px;
    position: relative;
}

.process-caricon {
    width: 36px;
    height: 21px;
    background-position: -62px -261px;
    position: absolute;
    left: 6px;
    top: 6px;
}

.process-flow-line2 {
    margin-top: 20px;
    padding-left: 55px;
    position: relative;
}

.process-dayicon {
    width: 25px;
    height: 25px;
    background-position: -126px -194px;
    position: absolute;
    left: 14px;
    top: -7px;
}

/*process2*/
.process-2 .process-head {
    background-position: 0 -39px;
}

.process2-con {
	padding-top: 29px;
}

.process2-title1 {
	font-size: 21px;
	font-family: "Microsoft YaHei";
	height: 44px;
	line-height: 44px;
	border-bottom: solid 1px #b6b6b6;
	padding-left: 23px;
}

.process2-form {
	margin-top: 22px;
	width: 105%;
	padding-left: 25px;
	font-family: 黑体;
}

.process-form-item {
	display: inline-block;
	font-size: 17px;
	width: 199px;
	padding-left: 95px;
	margin-right: 41px;
	position: relative;
	margin-top: 17px;
	height: 27px;
	line-height: 27px;
}

.process-form-item span {
	position: absolute;
	left: 0;
}

.process-form-item input
{
	width: 195px;
	height: 23px;
	border: solid 2px #ece9e2;
}

.process-form-item select {
	width: 199px;
	height: 23px;
	border: solid 2px #ece9e2;	
}

.last-process-form-item {
	margin-left: 339px;
}

.process-form-tip {
	margin-left: 433px;
	margin-top: 11px;
}

.process-form2-button {
	cursor: pointer;
	background-position: -238px -157px;
	width: 106px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	margin-top: 13px;
}

.process-bill {
	height: 132px;
	padding: 0 22px;
	background: #d4eed8;
	margin-top: 33px;
	overflow: hidden;
}

.process-bill-title {
	font-family: "Microsoft YaHei";
	font-size: 21px;
	height: 46px;
	line-height: 46px;
	border-bottom: solid 1px #b6b6b6;
	margin-top: 5px;
}

.process-bill-select {
	margin-top: 23px;
	font-size: 15px;
	font-family: 黑体;
	width: 120%;
}

.process-bill-select-item {
	display: inline-block;
	margin-right: 32px;
	margin-right: 25px\0;
}

.process-bill-select-item input {
	width: 18px;
	height: 18px;
	vertical-align: top;
	margin-right: 12px;
	position: relative;
	top: 2px;
	background: #fff;
}

.process2-pay {
	padding: 0 23px 0 21px;
	height: 416px;
	margin-top: 32px;
	background: url(../images/process-bg1.png) no-repeat #d3edd7;
}

.process2-title {
	font-size: 21px;
	font-family: "Microsoft YaHei";
	margin-top: 6px;
	height: 44px;
	line-height: 44px;
	border-bottom: solid 1px #a4a4a4;
}

.process2-line1 {
	height: 20px;
	line-height: 26px;
	margin-top: 12px;
	font-size: 15px;
	font-family: 黑体;
	padding-left: 28px;
	position: relative;
}

.process2-line1-icon {
	position: absolute;
	left: 4px;
	top: 0;
	background-position: -104px -197px;
	width: 13px;
	height: 20px;
}

.process2-line2 {
	margin-top: 12px;
	font-size: 15px;
	font-family: 黑体;	
}

.process2-select {
	width: 585px;
	height: 259px;
	background: #fff;
	border-right: solid 1px #ebf7ed;
	margin-top: 20px;
	padding-left: 24px;
	overflow: hidden;
	position: relative;
}

.process2-select-title {
	font-size: 17px;
	margin-top: 20px;
}

.process2-select-title span {
	float: right;
	margin-right: 34px;
}

.process2-select-title a {
	font-size: 12px;
	color: #fdd071;
	margin-left: 5px;
}

.process2-select-item {
	margin-top: 20px;
	margin-right: 23px;
	width: 120px;
	height: 27px;
	line-height: 27px;
	position: relative;
	display: inline-block;
}

.process2-select-item input {
	width: 15px;
	height: 15px;
	vertical-align: top;
	position: relative;
	top: 5px;
	margin-right: 10px;
}

.process-bank {
	width: 94px;
	height: 27px;
	display: inline-block;
}

.gsbank {
	background-position: -217px -88px;
}

.nybank {
	background-position: -217px -26px;
}

.yzbank {
	background-position: -217px -57px;
}

.jsbank {
	background-position: -316px -88px;
}

.zsbank {
	background-position: -315px -26px;
}

.jtbank {
	background-position: -316px -118px;
}

.alipay {
	background-position: -316px -57px;
}

.process2-more {
	position: absolute;
	width: 96px;
	height: 15px;
	line-height: 15px;
	font-family: 黑体;
	right: 29px;
	top: 128px;
}

.process2-more-icon {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0;
	top: 0;
	background-position: -223px -117px;
	cursor: pointer;
}

.process2-select-title2 {
	font-size: 17px;
	margin-top: 25px;
}

.process2-select-last {
	margin-top: 14px;
}

.process2-bottom {
	margin-top: 26px;
	border-top: solid 2px #000;
	padding-top: 14px;
	padding-left: 318px;
	position: relative;
	left: 4px;
	height: 35px;
	line-height: 35px;
}

.process2-back-button {
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 19px;
	font-family: 黑体;
	background-position: -2px -331px;
	left: -9px;
	top: 14px;
	position: absolute;
	cursor: pointer;
}

.process2-go-button {
	width: 136px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	background-position: -99px -157px;
	font-size: 19px;
	font-family: 黑体;
	cursor: pointer;
	position: absolute;
	top: 14px;
	right: 3px;
}

.process2-con .process-help {
	height: 660px;
	border-bottom: solid 1px #e8f6ea;
}

.process-feed-sum {
	margin-top: 13px;
}

.process-feed-con {
	width: 214px;
	height: 181px;
	padding: 18px 9px 0px 9px;
	border-bottom: solid 1px #e8f6ea;
	background: #fff;
	border-radius: 4px;
	font-family: 黑体;
	margin-top: 13px;
	color: #000;
	font-size: 14px;
}

.process-feed-title {
	font-family: "Microsoft YaHei";
	font-size: 19px;
}

.process-feed-item {
	font-size: 15px;
}

.process-feed-name {
	display: inline-block;
	width: 165px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.process-feed-item span {
	float: right;
}

.process-feed-transform {
	height: 32px;
	line-height: 32px;
	border-bottom: solid 1px #afafaf;
	border-top: solid 1px #afafaf;
}

.process-feed-transform span {
	float: right;
}

.process-feed-cost {
	margin-top: 13px;
}

.process-feed-cost span {
	float: right;
	font-size: 16px;
	position: relative;
	top: -4px;
	font-weight: bold;
}

.process-feed-button {
	height: 29px;
	line-height: 29px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	width: 100px;
	background-position: -126px -320px;
	margin-left: 114px;
	margin-top: 13px;
}

/*process3*/
.process-3{
    margin-bottom: 102px;
}
.process-3 .process-head {
    background-position: 0 -78px;
}

.process-3 h2 {
    color: #fcbf1d;
    font-size: 32px;
    padding-left: 64px;
    background-position: -451px -311px;
    margin: 0 0 20px 285px;
}

.process-3 .order-info {
    font-size: 20px;
    line-height: 46px;
    margin: 0 0 60px 315px;
}

.process-3 .order-info label {
    width: 150px;
    text-align: right;
    display: inline-block;
    margin-right: 40px;
}

.process-3 .big-grey-btn{
    margin: 0 260px 0 225px;
}